@import "mixin";
@import "var";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 50.5%;
}

// 1: operators
// 2: variables
// 3: nesting
// 4: mixin
// 5: parameters
// 6: partials

.main_header {
    @include flexprop;
    width: 100vw;
    height: 100vh;
    background: $bg-color;

h1 {
    @include commoncode(0.8rem, uppercase);
    &:hover {
        color: #c8d6c5;
    }

    &::after {
        content: "World";
    }
}

p {
    @include commoncode(0.3rem, capitalize);
    &:hover {
        color: #c8d6e5;
    }
}

}
